<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--Libreria Vue-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
   .comprado{
        text-decoration: line-through;
    }
    
</style>
<body>
    <h1>Lista de la compra</h1>

    <template id="template-lista">
        <div class="lista">
            <input type="checkbox" v-bind:checked='checked' 
            v-on:change="$emit('change','$event.target.checked')"
            v-on:click="$emit('toupdate')">
            <button v-on:click="$emit('toborrar')">Borrar</button> 
            <span>
                {{texto}}
            </span>
        </div>
    </template>

    <template id="template-lista-central">
        <div class="lista-central">
            <lista v-for='item in items' :key='item.id' v-bind:id='item.id'
            v-bind:texto='item.texto' v-bind:comprado='item.comprado'
            :class="{comprado:item.comprado}" v-model='item.comprado'
            v-on:toupdate="update(item.id,item.texto,item.comprado)"
            v-on:toborrar="borrar(item.id)">
            </lista>    
        </div>
    </template>


    <div id="app">
        <lista-central v-bind:items='items'>
        </lista-central>
        <h4>Añadir producto</h4>
        <input type="text" ref="newItem">
        <button @click="add">Añadir</button>
    </div>
</body>
<script>

    Vue.component('lista-central',{
        template:'#template-lista-central',
        props:{
        items:[]
        },
        methods:{
            update: function(itemId,itemTexto,itemComprado){
                itemComprado=!itemComprado
                datos={
                   id:itemId,
                   texto:itemTexto,
                   comprado:itemComprado,
                }
                axios.put('/api/lista/'+itemId, datos).then((res)=>{
                    res.data
                    var i=this.items.find((x)=> x.id==itemId);
                    i.comprado=datos.comprado
                })
            },
            borrar:function(itemId){
                axios.delete('/api/lista/'+itemId).then((res)=>{
                    res.data
                    axios.get('/api/lista').then((res)=>{
                        res.data
                        this.items=res.data
                    })
                })
            }
        },

    });
    Vue.component('lista',{
        template:'#template-lista',
        model:{
            prop:'checked',
            event:'change'
        },
        props:{
            id:{type:Number},
            texto:{type:String},
            comprado:{type:Boolean},
            checked:Boolean
        },
        
    });

    var app  = new Vue({
        el:'#app',
        data:{
            items:[
                {
                },
            ],
        },
        methods:{
            add: function(){
                datos={
                    texto:this.$refs.newItem.value,
                    comprado:false
                } 
             
                this.$refs.newItem.value="";
                axios.post('/api/lista',datos).then((res)=>{
                    res.data
                    this.items.push(res.data);
                })
            }
        },
        created: function(){
            axios.get('/api/lista').then((res)=>{
                res.data
                this.items=res.data
            })
        }

    })
</script>
</html>