<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--Libreria Vue-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    #app ul{
        list-style: none;
    }
    #app ul li.comprado span{
        text-decoration: line-through;
    }
</style>
<body>
    <h1>Lista de la compra</h1>
    <div id="app">
        <ul>
            <li v-for="item in items" :key="item.id" :class="{comprado:item.comprado}">
               
               
                <span ref="item"> <input type="checkbox" v-model="item.comprado" @click="update" > {{item.texto}}</span>
            </li>
        </ul>
        <h4>Añadir producto</h4>
            <input type="text" ref="newItem">
            <button @click="add">Añadir</button>
    </div>
</body>
<script>
    var app  = new Vue({
        el:'#app',
        data:{
            items:[
                {
                 
                },
                
            ],
            
        },
        methods:{
            add: function(){
             
                 datos={
                    id:this.items.length +1, 
                    texto:this.$refs.newItem.value,
                    comprado:false
                 } 
             
              this.$refs.newItem.value="";
              axios.post('/api/lista',datos).then((res)=>{
                    res.data
                    this.items.push(res.data);
              })
            },
            update: function(){
               if(this.comprado){
                   dato=this.comprado=false;
               }else{
                   dato=this.comprado=true;
               }
               id=this.$refs.item.id
                axios.put('/api/lista'+id, dato).then((res)=>{
                    res.data
                    var i=this.items.find((x)=> x.id==id);
                    i.comprado=this.comprado
                })
            }
            
        },
        created: function(){
            axios.get('/api/lista').then((res)=>{
                res.data
                this.items=res.data
            })
        }
    })
</script>
</html>