<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--Libreria Vue-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    #app ul{
        list-style: none;
    }
    #app ul li.comprado span{
        text-decoration: line-through;
    }
</style>
<body>
    <h1>Lista de la compra</h1>
    <div id="app">
        <ul>
            <li v-for="item in items" :key="item.id" :class="{comprado:item.comprado}">
               
               
                <span ref="item"> 
                    <input type="checkbox" v-model="item.comprado" @click="update(item.id,item.texto,item.comprado)" >
                    <button @click="borrar(item.id,item.texto,item.comprado)">Borrar</button> 
                    {{item.texto}}</span>
            </li>
        </ul>
        <h4>Añadir producto</h4>
            <input type="text" ref="newItem">
            <button @click="add">Añadir</button>
    </div>
</body>
<script>
    var app  = new Vue({
        el:'#app',
        data:{
            items:[
                {
                },
            ],
        },
        methods:{
            add: function(){
             
                 datos={
                    texto:this.$refs.newItem.value,
                    comprado:false
                 } 
             
              this.$refs.newItem.value="";
              axios.post('/api/lista',datos).then((res)=>{
                    res.data
                    this.items.push(res.data);
              })
            },
            update: function(itemId,itemTexto,itemComprado){
                itemComprado=!itemComprado
               datos={
                   id:itemId,
                   texto:itemTexto,
                   comprado:itemComprado,
               }
                axios.put('/api/lista/'+itemId, datos).then((res)=>{
                    res.data
                    var i=this.items.find((x)=> x.id==itemId);
                    i.comprado=datos.comprado
                })
            },
            borrar:function(itemId,itemTexto,itemComprado){
               datos={
                   id:itemId,
                   texto:itemTexto,
                   comprado:itemComprado,
               }
                axios.delete('/api/lista/'+datos).then((res)=>{
                    res.data
                    this.items=res.data

                })
            }
            
        },
        created: function(){
            axios.get('/api/lista').then((res)=>{
                res.data
                this.items=res.data
            })
        }
    })
</script>
</html>