body{
    font-size: 300%;
    font-family: sans-serif;
}
table{
    border:1px solid black;
    width: 500px;

}
td{
    border:1px solid black;
    text-align: center;
    cursor:pointer;
}

.result{
    height: 40%;
    text-align: right;
    cursor: default;
}