body{
    font-size: 300%;
    font-family: sans-serif;
}
table{
    border:1px solid black;
    width: 500px;
    background-color: rgb(75, 73, 73);
    color: rgb(180, 238, 153);

}
td{
    border:1px solid black;
    text-align: center;
    cursor:pointer;
}

.result{
    height: 40%;
    text-align: right;
    cursor: default;
    background-color: grey;
    
}